# Compiled Object files
*.o

# Compiled Dynamic libraries
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out

# Configuration files
*.cfg

# Supplementary directories
dsk
rom
software

# Gif Help Pictures
*.gif


